
  
  <main>
    <section class="banner">
      <div class="container">
        <h1>Únete a la comunidad de jugadores más grande</h1>
        <p>Comparte tus experiencias de juego, descubre nuevos títulos y conecta con amigos.</p>
        <button class="btn-registro">Registrarse</button>
      </div>
    </section>
  
    <section class="descubrir">
      <div class="container">
        <h2>Descubre Nuevos Juegos</h2>
        <div class="juegos-grid">
          <div class="juego">
            <img src="https://i.3djuegos.com/juegos/16611/monster_hunter_world_iceborne/fotos/ficha/monster_hunter_world_iceborne-5047500.jpg" alt="Juego 1">
            <h3>Monster Hunter World Iceborne</h3>
            <p>CONVIERTETE EN EL MEJOR CAZADOR DE DRAGONES ANCIANOS.</p>
          
          </div>
        </div>
      </div>
    </section>
  
    <section class="noticias">
      <div class="container">
        <h2>Noticias y Eventos</h2>
        <div class="noticias-list">
          <article class="noticia">
            <h4>ZINOGRE PRIMORDIAL A LA VISTA</h4>
            <p>¡Cuidado cazador , se ha avistado a Zinogre Primordial en las zonas del Yermo , ten cuidao!.</p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0kqeq63YRO4RWpWh97ofg-5_KM1UcrunPfB3g5JsPrg&s" alt="Juego 1">
          </article>
        </div>
      </div>
    </section>
  </main>
  
  <footer>
    <div class="container">
      <p>&copy; 2024 Gamth. Todos los derechos reservados.</p>
      <ul class="social-media">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
        <li><a href=""><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
  </footer>
  