<section class="hero">
    <div class="container">
      <h1>EL COMIENZO DE LA TRAYECTO DE GAMTH</h1>
      <p>Un viaje de aventuras nos espera juntos :D</p>
    </div>
  </section>

  <section class="timeline">
    <div class="container">
      <h2>Trayecto</h2>
      <ul class="timeline-list">
        <li class="timeline-item">
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h4>2023: Creación del proyecto</h4>
            <p>20 Marzo de 2023 , una fecha más que importante que marcará el inicio de una nueva era en las redes sociales</p>

          </div>
        </li>
        </ul>
    </div>
  </section>